//.carousal-item{
  //  height: 24rem;
  //  background: #777;
//}

 .container{
     position: relative;
   height: 10%;
   width: 90%;

 }

// .img-thumbnail{
//   height: 40%;
//   width: 80%;
//   text-align: center;
//   padding-left: 300px;
// }

.card{
  //background: lightgrey;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }