<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DEAL</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="loggedOut()">Logout</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()" class="dropdown">
    <a class="dropdown-toggle text-light">
      Welcome User
    </a>
  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </div>

  <form *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0"
        #loginForm="ngForm"
        (ngSubmit)="login()">
    <input class="form-control mr-sm-2" 
           [(ngModel)]="model.username"
           type="text" 
           name="username"
           placeholder="Username"
           required/>
   <input class="form-control mr-sm-2" 
           [(ngModel)]="model.password"
           type="password" 
           name="password"
           placeholder="Password"
           required/>
    <button 
      class="btn btn-success my-2 my-sm-0"
      type="submit"
      [disabled]="!loginForm.valid">Login</button>
  </form>
</nav>
